#sidebar {
    background-color: rgba(200, 200, 200, 0.5);
    
}
#sidebar .sideMenu {
    background-color: #00000000 !important;
    border: none;
}
#sidebar .sideMenu .ant-menu-item-selected {
    background-color: rgba(0, 0, 0, 0.5)
}
#sidebar .sideMenu .ant-menu-item-selected:hover {
    background-color: rgba(0, 0, 0, 0.2)
}
#sidebar .sideMenu .ant-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#sidebar .ant-menu-sub {
    background: #00000000;
}
#sidebar .return {
    height: 35px;
    line-height: 35px;
}
#sidebar .trigger:hover,
#sidebar .return:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}
#sidebar .ant-menu-submenu-arrow {
    color: black;
}